<mat-card>
  <h2>Inscription</h2>
  <div>
    <img [src]="registerIcon" alt="img_not_found" class="shadw">
  </div>

  <form #register="ngForm" (ngSubmit)="submit(register)" class="w-75 m-auto my-3">
    <div class="form-group text-center">

      <div class="row">
        <div class="col">
          <input
            type="text"
            name="firstname"
            class="form-control"
            placeholder="Prénom"
            ngModel
          >
        </div>
        <div class="col">
          <input
            type="text"
            name="lastname"
            class="form-control"
            placeholder="Nom"
            ngModel
          >
        </div>
      </div>

      <input
        type="email"
        name="email"
        class="form-control"
        placeholder="E-mail"
        ngModel
      >

      <input
        type="text"
        name="phone"
        class="form-control"
        placeholder="Téléphone"
        ngModel
      >

      <input
        type="text"
        name="address"
        class="form-control"
        placeholder="Adresse"
        ngModel
      >

      <div class="row">
        <div class="col">
          <input
            type="text"
            name="birthplace"
            class="form-control"
            placeholder="Lieu de naissance"
            ngModel
          >
        </div>
        <div class="col">
          <input
            type="text"
            onfocus="(this.type='date')"
            name="date_of_birth"
            class="form-control"
            placeholder="Date de naissance"
            ngModel
          >
        </div>
      </div>



      <div class="my-2"></div>


      <input
        type="text"
        name="user_name"
        class="form-control"
        placeholder="Nom d'utilisateur"
        ngModel
      >


      <input
        [type]="showPassword ? 'text' : 'password'"
        name="password"
        class="form-control"
        placeholder="Mot de passe"
        ngModel
      >

      <input
        [type]="showPassword ? 'text' : 'password'"
        name="passwordConfirmation"
        class="form-control"
        placeholder="Confirmer mot de passe"
        ngModel

      >

      <div class="text-start">
        <mat-icon matSuffix (click)="togglePasswordVisibility()">
          {{showPassword?'visibility_off':'visibility'}}
        </mat-icon>

      </div>



      <!-- <input
        type="password"
        name="password"
        class="form-control"
        placeholder="Mot de passe"
        ngModel
      > -->

      <!-- <input
        type="password"
        name="passwordConfirmation"
        class="form-control"
        placeholder="Confirmer mot de passe"
        ngModel
      > -->

      <button type="submit">S'inscrire</button>

    </div>
  </form>

  <div>{{ register.value | json }}</div>


</mat-card>
