<div class="text-start m-3 p-3 border border-danger shadow row">
  <div class="col-2">Emettre post :</div>

  <div class="col-8">
    <form action="" #send="ngForm">
      <textarea ngModel name="content" id="" class="w-100 rounded"></textarea>
    </form>
  </div>

  <div class="col-2" (click)="onSave(send)">
    <img
      src="../../../assets/images/send-svgrepo-com.svg"
      height="30px"
      alt=""
      class="m-1"
    />
    <img
      src="../../../assets/images/camera-svgrepo-com.svg"
      height="30px"
      alt=""
      class="m-2"
    />
    <img
      src="../../../assets/images/microphone-svgrepo-com.svg"
      height="30px"
      alt=""
      class="m-1"
    />
  </div>
</div>
