<nav class="navbar-light">
    <div class="nav-left">
        <a class="navbar-brand" href="#">
            <img src="https://img1.freepng.fr/20180412/hoe/kisspng-allergen-gluten-food-wheat-allergy-wheat-5acfd0df42d438.0360024015235688632737.jpg" style="width: 70px; height:55px; margin-left: -80px;" class="d-inline-block align-text-left">
            O2A
        </a>
        <ul>
            <li> <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcRAm4gatHF2Wcx2DPitUS6NXMhEXFAjLQY_pg&usqp=CAU" alt="" width="30" style="color:rgb(240, 229, 229)">  </li>
            <li><img src="https://cdn-icons-png.flaticon.com/512/32/32223.png" alt="historique" style="width: 40px; height:30px"></li>
            <li><img src="https://c8.alamy.com/compfr/t3xxy3/vecteur-icone-de-localisation-t3xxy3.jpg" alt="localisation" style="width: 20px;"></li>   
        </ul>
    </div>

    <div class="nav-right">
        <div class="search-box">
            <input type="text" placeholder="Search">
            <img src="https://upload.wikimedia.org/wikipedia/commons/thumb/4/4c/Search_Noun_project_15028.svg/1046px-Search_Noun_project_15028.svg.png" style="width: 25px; color:#814069" alt="search icone">
        </div>
        <div class="nav-user-icon online">
            <img src="https://resize.prod.femina.ladmedia.fr/r/,550/img/var/2022-04/saint-algue-carre-court-femme-coiffure-tendance-2022.jpg" alt="profile_pic">
        </div>
    </div>


    
</nav>


