<div class="container">
    <div class="myCard">
        <div class="row">
            <div class="col-md-4">
                <div class="myRightCtn">
                    <div class="box">
                        <img src="https://resize.prod.femina.ladmedia.fr/r/,550/img/var/2022-04/saint-algue-carre-court-femme-coiffure-tendance-2022.jpg" alt="profil" style="width:200px ;border-radius:50%; ">
                        <input type="button" class="butt_out" value="Changer Profil"/> 
                    </div> 
                </div>
            </div>
            <div class="col-md-8">
                <div class="myLeftCtn"> 
                    <form class="myForm text-center">
                        <h3>Mon Compte</h3>
                        <div class="form-group">
                            <input class="myInput" type="text" placeholder="Nom" required> 
                        </div>
                        <div class="form-group">
                            <input class="myInput" type="text" placeholder="Prénom" required> 
                        </div>
                        <div class="form-group">
                            <input class="myInput" type="text" placeholder="Username" id="username" required> 
                        </div>
                        <div class="form-group">
                            <input class="myInput" placeholder="Email" type="text" id="email" required> 
                        </div>
                        <div class="form-group">
                            <input class="myInput" type="password" id="password" placeholder="Password" required> 
                        </div>
                        <input type="submit" class="butt" value="Modifier">                     
                    </form>
                </div>
            </div> 
        </div>
    </div>
</div>
  