<div class="container" *ngIf="typeUtilisateur == 'disconnected'">
  <div routerLink="homeAppli" routerLinkActive="active">Accueil</div>
  <div routerLink="" routerLinkActive="">Catégories</div>
  <div routerLink="login" routerLinkActive="active">Se Connecter</div>
  <div routerLink="registration" routerLinkActive="active">S'inscrire</div>
</div>
{{typeUtilisateur}}
<div class="container" *ngIf="typeUtilisateur == 'user'">
  <div routerLink="" routerLinkActive="">Accueil</div>
  <div routerLink="" routerLinkActive="">Catégories</div>
  <div routerLink="" routerLinkActive="">Profil</div>
  <div routerLink="" routerLinkActive="">Norifications</div>
  <div routerLink="" routerLinkActive="">Historique Posts</div>
  <div routerLink="" routerLinkActive="">Localiser Structures</div>
  <div routerLink="" routerLinkActive="">Se déconnecter</div>
</div>

<div class="container" *ngIf="typeUtilisateur == 'specialist'">
  <div routerLink="" routerLinkActive="">Accueil</div>
  <div routerLink="" routerLinkActive="">Catégories</div>
  <div routerLink="" routerLinkActive="">Profil</div>
  <div routerLink="" routerLinkActive="">Norifications</div>
  <div routerLink="" routerLinkActive="">Historique Posts</div>
  <div routerLink="" routerLinkActive="">Localiser Structures</div>
  <div routerLink="" routerLinkActive="">Demandes de conseils</div>
  <div routerLink="" routerLinkActive="">Données Aggrégées</div>
  <div routerLink="" routerLinkActive="">Se déconnecter</div>
</div>

<div class="container" *ngIf="typeUtilisateur == 'moderator'">
  <div routerLink="" routerLinkActive="">Accueil</div>
  <div routerLink="" routerLinkActive="">Catégories</div>
  <div routerLink="" routerLinkActive="">Profil</div>
  <div routerLink="" routerLinkActive="">Norifications</div>
  <div routerLink="" routerLinkActive="">Historique Posts</div>
  <div routerLink="" routerLinkActive="">Localiser Structures</div>
  <div routerLink="" routerLinkActive="">Posts Signalés</div>
  <div routerLink="" routerLinkActive="">Spécialistes</div>
  <div routerLink="" routerLinkActive="">Comptes</div>
  <div routerLink="" routerLinkActive="">Se déconnecter</div>
</div>

{{ typeUtilisateur }}
