<!-- <div class="container">
  <div routerLink="homeAppli" routerLinkActive="active">Accueil</div>
  <div>Catégories</div>
  <div routerLink="login" routerLinkActive="active">Se Connecter</div>
  <div routerLink="registration" routerLinkActive="active">S'inscrire</div>
</div> -->

<div class="container" *ngIf="lsbRef.typeUser == 'unknown'">
  <div routerLink="homeAppli" routerLinkActive="active">Accueil</div>
  <div routerLink="categories" routerLinkActive="active">Categories</div>
  <div routerLink="login" routerLinkActive="active">Se Connecter</div>
  <div routerLink="registration" routerLinkActive="active">S'inscrire</div>
</div>

<div class="container" *ngIf="lsbRef.typeUser == 'connected'">
  <div routerLink="" routerLinkActive="">Accueil</div>
  <div routerLink="" routerLinkActive="">Catégories</div>
  <div routerLink="profil" routerLinkActive="active">Profil</div>
  <div routerLink="notification" routerLinkActive="">Notifications</div>
  <div routerLink="" routerLinkActive="">Historique Posts</div>
  <div routerLink="" routerLinkActive="">Localiser Structures</div>
  <div routerLink="" routerLinkActive="">Se déconnecter</div>
</div>

<div class="container" *ngIf="lsbRef.typeUser == 'specialist'">

  <div routerLink="" routerLinkActive="">Accueil</div>
  <div routerLink="" routerLinkActive="">Catégories</div>
  <div routerLink="profil" routerLinkActive="">Profil</div>
  <div routerLink="notification" routerLinkActive="">Notifications</div>
  <div routerLink="" routerLinkActive="">Historique Posts</div>
  <div routerLink="" routerLinkActive="">Localiser Structures</div>
  <div routerLink="" routerLinkActive="">Demandes de conseils</div>
  <div routerLink="" routerLinkActive="">Données Aggrégées</div>
  <div routerLink="" routerLinkActive="">Se déconnecter</div>
</div>

<div class="container" *ngIf="lsbRef.typeUser == 'admin'">
  <div routerLink="" routerLinkActive="">Accueil</div>
  <div routerLink="" routerLinkActive="">Catégories</div>
  <div routerLink="profil" routerLinkActive="">Profil</div>
  <div routerLink="notification" routerLinkActive="">Notifications</div>
  <div routerLink="" routerLinkActive="">Historique Posts</div>
  <div routerLink="" routerLinkActive="">Localiser Structures</div>
  <div routerLink="" routerLinkActive="">Posts Signalés</div>
  <div routerLink="" routerLinkActive="">Spécialistes</div>
  <div routerLink="" routerLinkActive="">Comptes</div>
  <div routerLink="" routerLinkActive="">Se déconnecter</div>
</div>
