<div class="pItem text-start p-2 my-4">
  <div class="profile">
    <img class="m-2 rounded-circle" [src]="profile">
    <span class="m-2">{{firstname}} {{lastname}}</span>
  </div>
  <div class="m-2">
    <span class="fw-bolder">Allergie</span> : {{allergyName}}
  </div>
  <div class="m-2">
    <span class="fw-bolder">Descriptif</span> : {{allergyDescription}}
  </div>

  <ngb-carousel *ngIf="images" class="text-center">
    <ng-template ngbSlide>
      <div class="picsum-img-wrapper">
        <img [src]="images[0]" alt="Random first slide">
      </div>
      <div class="carousel-caption">
        <h3></h3>
        <p></p>
      </div>
    </ng-template>
    <ng-template ngbSlide>
      <div class="picsum-img-wrapper">
        <img [src]="images[1]" alt="Random second slide">
      </div>
      <div class="carousel-caption">
        <h3></h3>
        <p></p>
      </div>
    </ng-template>

  </ngb-carousel>

  <!--reactions-->
  <div class="row text-center my-2">
    <div class="col"><img src="https://www.svgrepo.com/show/40875/like.svg" width="50px" alt="" srcset=""><span style="font-size:18px; font-weight:30px; margin-left: 2px;">Liker</span> </div>
    <div class="col"><img src="https://www.svgrepo.com/show/171849/attention.svg" width="50px" alt="" srcset=""> <span style="font-size:18px; font-weight:30px; margin-left: 2px;">Signaler</span> </div>
    <div class="col"><img src="https://www.svgrepo.com/show/310683/comment.svg" width="50px" alt="" srcset=""> <span style="font-size:18px; font-weight:30px; margin-left: 2px;">Commenter</span> </div>
  </div>


</div>
